June long challenge/guessg.py
June long challenge/contain.py
June long challenge/contain2.py
June long challenge/contain3.py
June long challenge/containOpt.py
June long challenge/Guessing Game.py
June long challenge/guessing game 2.py
June long challenge/test.py
June long challenge/The delicious cake.py
June long challenge/.idea
